.jimiCard{
    height: 100%;
    margin: 0 !important;
    background: rgba(0, 0, 0, 0.90) !important;
    justify-content: space-between;
}

#jimiBG{
    padding: 0 !important;
    background-color:  rgba(255, 255, 255, 0) !important;
    border-radius: 0.375rem !important;
}

.images{
    display: 'none';
}

.card__thumbnail {
    position: relative;
    overflow: hidden;  
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center */    
    height: 100%;
    margin: 0;
    border-radius: inherit;
}

.card__thumbnail > img{ 
    height: 100%;
    object-fit: cover; 
    border-radius: inherit;
}  

.jimiRow{
    display: flex;
    justify-content: center;
    height: 35rem;
}

.jimiCol{
    height: 100%;
    padding: 5px 5px 5px 5px;
}

.container-fluid {
    width: 90vw;
    display: flex;
    justify-content: center;
    margin: 0;
}

.background {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    overflow-x: hidden;
}

.jimiButton{
    align-self: center;
    justify-self: end;
    width: 150px;
    
}

.b-bounce{
    animation: bounce 1s ease;
    animation-iteration-count: 1;
}

@keyframes bounce { 
    0%, 
    20%, 
    50%, 
    80%, 
    100% { 
        transform: translateY(0); 
    } 

    40% { 
        transform: translateY(-20px); 
    } 

    60% { 
        transform: translateY(-10px); 
    } 
} 